body{
	background:#800041;
	border:9px  solid #3976ff;
	
	
		border-bottom: 24px double #ff0099;
	border-right:24px double #FF5722;

	}

.guess-number{
	color: white;
white-space:pre-line;
font-family: monospace;
}
